<div class="row bottom-part">
    <nav class="navbar fixed-bottom footer">
        <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
            <div class="p-2 align-self-center flex-fill bd-highlight">
                <div class="fa fa-facebook px-2 grey-text"></div>
                <div class="fa fa-linkedin px-2 grey-text"></div>
                <div class="fa fa-twitter px-2 grey-text"></div>
                <div class="fa fa-instagram px-2 grey-text"></div>
            </div>
            <div class="p-2 row flex-fill bd-highlight justify-content-left">
                <div class="p-2 d-lg-flex">
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Services</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Portfolio</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Pricing</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Testimonials</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Team</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Blog</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Carrer</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">How we work</div>
                    <div class="p-2 flex-fill d-flex bd-highlight grey-text">Manifesto</div>
                </div>
            </div>
            <div class="p-2 align-self-center flex-fill bd-highlight">
                <div class="fa fa-mobile px-2 grey-text">&nbsp;&nbsp;<span id="contact">888-777-666</span></div>
                <div class="fa fa-envelope-o px-2 grey-text">&nbsp;&nbsp;info@itcraft.in</div>
            </div>
        </div>
    </nav>
</div>