<nav class="navbar navbar-expand-lg fixed-bottom footer navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">
                <a class="waves-effect waves-light btn social github">
                  <i class="fa fa-github"></i> Sign in with github</a>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">

              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <span class="fa-stack fa-lg">

              </span>
            </a>
          </li>
        </ul>
        <i class="copyright text-muted">Copyright &copy; Your Website 2020</i>
      </div>
      <div>
        <div>
</nav>