<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<nav class="navbar navbar-expand-lg fixed-bottom footer navbar-dark bg-dark" style="height: 50px;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <sub><sub><sub><sub><sub><sub><sub><a class="fa fa-github" href="#" style="font-size:18px;color:gray"></a>
                                        &nbsp;&nbsp;
                                        <a class="fa fa-twitter" href="#" style="font-size:18px;color:gray"></a>
                                        &nbsp;&nbsp;
                                        <a class="fa fa-facebook" href="#"
                                            style="font-size:18px;color: gray"></a></sub></sub></sub></sub></sub></sub></sub>
            <li class="nav-item">
                <p class="nav-link">&copy;2020 TOURZING</p>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Team</a>
            </li>
        </ul>
    </div>
</nav>