{{>header-2}}

<div class="col-12 container-fluid">
    <h1>Find A Tour</h1>
    <div class="row well">
        <div class="col list-container">
            <span>
                <label for="city">Look up a city:</label><br>
                <input class="form-control " type="text" id="search">
            </span>
            <br>
            <button type="button" id="searchLocation" class="btn btn-dark">Search</button>
        </div>
        <div class="col list-container">
        </div>
        <div class="col-3 list-container">
            <h2 id="tourGuide">Tour Guide:</h2>
            <br>
            <br>
            <div class="well">
                {{#each search}}
                <p>Guide Name: {{firstName}}</p>
                {{!-- <p>City: {{city}}</p> --}}
                <hr>
                {{/each}}
            </div>
        </div>
    </div>
</div>