<div class="col-12 container-fluid">
    <div class="row">
        <div class="col-6 list-container">

            <h2>Find A Tour</h2>

            <div style="display: inline;">
                <span>
                    <input style="position:absolute" class="form-control mr-sm-2" type="text" id="search"
                        placeholder="Enter City Name..." />
                </span>
            </div>

        </div>


        <div class="col-3 list-container">
            <br>
            <br>
            <button type="button" id="searchLocation" class="btn btn-info">Search</button>
        </div>

        <div class="col-3 list-container">
            <h2 id = "tourGuide">Tour Guide:</h2>
            <br>
            <br>
            
        </div>
    </div>
    <div>