<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">

    <script>src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"</script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/submit.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
</head>
 
<body>

    <div class="container">
        {{{ body }}}
    </div>
   
</body>

</html>