{{>header-2}}

<h1>Hello {{membername}} !</h1>

<div class="well">
    <p class="text-center">
        <b class="lead" style="font-size: 22px;"><b>Y O U R&nbsp;&nbsp;&nbsp;&nbsp;J🌐U R N E Y&nbsp;&nbsp;&nbsp;&nbsp;A
                W A I T S<br>
            </b></p>
    <p><b>
            Your decision to become a member of this world-wide organization will change the way you travel!<br><br>
            You now have access to an unparalleled view of popular destinations, local cultures, and paths less
            traveled.<br><br>
            Your experienced tour guide will safely show you around your locale of choice, exposing you to the
            historical and cultural aspects that will make your visit truly memorable.<br><br>
            May your journey be ama<i class="text-small text-info">zing!</i></b>
    </p>
    <p class="text-center"><b>Welcome&nbsp;&nbsp;to&nbsp;&nbsp;T🌐U R Z I N G !</b>
    {{!-- <br><br>
        <button type="button" href="/tour/signup" class="btn btn-dark">Tour Sign Up</button>
        <button type="button" href="/ratings" class="btn btn-dark">Provide Trip Rating</button>
        <button type="button" href="/guide/search" class="btn btn-dark">Find A Tour</button> --}}
    </p>

</div>

{{!-- thinking about trying this class tag if the GET in api-routes file doesn't work --}}
{{!-- This goes with the members.js file in Public folder --}}
{{!-- <span class="member-name"></span> --}}

{{!-- href="/tour/signup" --}}