{{>header-2}}

<h1>Hello {{membername}} !</h1>
{{!-- thinking about trying this class tag if the GET in api-routes file doesn't work --}}
{{!-- This goes with the members.js file in Public folder --}}
{{!-- <span class="member-name"></span> --}}
{{>footer}}

