{{>header-2}}

<h1>Hello {{guidename}}<span class="member-name"></span> !</h1>
{{!-- thinking about trying this class tag if the GET in api-routes file doesn't work --}}
{{!-- This goes with the accountGuide.js file in Public folder --}}

{{>footer}}