<div class="container-fluid">
    <div class="row">



        <div class="container">
            <div class="row justify-content-center">
                <h1 class="theTitle">
                    T🌐U R Z I N G<sup><sup><sup style="font-size: 30px;">&reg;</sup></sup></sup>
                </h1>
            </div>
            <div class="col-sm-12">



                <div class="well">
                    <p>
                        <b class="lead" style="font-size: 22px;"><b>Welcome to TourZing, your one stop place for
                                matching
                                tourists with excellent tour
                                guides and amazing tours.<br><br>When you go on vacation, you want to maximize your time
                                to have
                                the
                                best experience possible.<br><br>Our experienced tour guides know the where and the when
                                of the premier local sites and establishments. So come along ... <br></b>
                    </p>
                    <p class="text-center"><b>AND&nbsp;&nbsp;T🌐UR&nbsp;&nbsp;WITH&nbsp;&nbsp;US !</b>
                        {{!-- <br><br>
                        <button type="button" href="/auth/login" class="btn btn-dark">Login</button>
                        <button type="button" href="/ratings" class="btn btn-dark">New Account</button> --}}
                    </p>
                </div>


            </div>

        </div>
    </div>