<h1>TourZing</h1>
<!--  Search Field  -->
<form class="create-form">
    <input type="text" name="burgerName" id="burgerName" placeholder="Enter Burger Name...">
    <button id="submitBurger">Submit</button>
</form>