

<h1 class="login">Tour Guide Login</h1>

<div class="well">


<form class="login" action="/guide/login" method="post">
    <div>
        <label>Email address:</label><br>
        <input type="email" id="email" name="email"/>
    </div>
    <div>
        <label>Password:</label><br>
        <input type="password" id="password" name="password"/>
    </div>
    <div>
        <button type="submit" class="btn btn-dark" value="Log In"/>Login</button>
    </div>
</form>
</div>
