{{>header}}

<h1 class="login">Login as an Existing Guide</h1>

<form class="login" action="/guide/login" method="POST">
	
	<label for="email">Email Address:</label><br>
	<input type="text" class="form-control" id="email" name="email"><br>

	<label for="password">Password:</label><br>
	<input type="password" class="form-control" id="password" name="password">

	<button type="submit">Login</button>
</form>



{{>footer2}}