

<h1>Login</h1>

<div class="well">


<form class="login" action="/auth/login" method="post">
    <div>
        <label>Email address:</label><br>
        <input type="email" class="form-control" id="email" name="email"/>
    </div>
    <br>
    <div>
        <label>Password:</label><br>
        <input type="password" class="form-control" id="password" name="password"/>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-dark" value="Log In"/>Login</button>
    </div>
</form>
</div>

