

<h1 class="login">Tour Guide Login</h1>

<div class="well">
<form class="login" action="/guide/login" method="POST">
	
	<label for="email">Email Address:</label><br>
	<input type="text" class="form-control" id="email" name="email"><br>

	<label for="password">Password:</label><br>
	<input type="password" class="form-control" id="password" name="password">
</form>
</div>
	<br>
	<button type="submit" class="btn btn-dark">Login</button>
