{{>header-2}}

<h1>Add Your Tour Rating</h1>

<div class="well">
	<form class="rating" action="/auth/rating" method="POST">
		<label for="name">Guide First Name:</label><br>
		<input type="text" class="form-control" id="guideFirst" name="guideFirst"><br>

		<label for="name">Guide Last Name:</label><br>
		<input type="text" class="form-control" id="guideLast" name="guideLast"><br>

		<label for="rating">Rating:</label><br>
		<input type="text" class="form-control" id="rating" name="rating">
		<br>
		<button type="submit" class="btn btn-dark">Submit</button>
	</form>
</div>