{{>header}}

<h1>Register as a New Tour Guide</h1>

<form class="signup" action="/guide/register" method="POST">
	<label for="name">Guide First Name:</label><br>
	<input type="text" id="firstName" name="firstName"><br>

	<label for="name">Guide Last Name:</label><br>
	<input type="text" id="lastName" name="lastName"><br>

	<label for="email">Email:</label><br>
	<input type="text" id="email" name="email"><br>

	<label for="password">Password:</label><br>
	<input type="password" id="password" name="password">

    <label for="phone">Phone:</label><br>
	<input type="text" id="phone" name="phone">

    <label for="country">Country:</label><br>
	<input type="text" id="country" name="country">

    <label for="city">City:</label><br>
	<input type="text" id="city" name="city">

    <label for="tour">Tour:</label><br>
	<input type="text" id="tour" name="tour">

    <label for="cost">Cost:</label><br>
	<input type="text" id="cost" name="cost">

    <button type="submit">Join TourZing!</button>
</form>


{{>footer2}}