<h1>New Tour Guide Account</h1>

<form class="signup" action="/guide/register" method="POST">

	<div class="well">
		<div class="row">
			<div class="col">
				{{!-- changed "Guide First Name to First Name for the label only" --}}
				<label for="guideFirst">First Name:</label><br>
				<input type="text" class="form-control" id="guideFirst" name="guideFirst">
				{{!-- changed "Guide Last Name to Last Name for the label only" --}}
				<label for="guideLast">Last Name:</label><br>
				<input type="text" class="form-control" id="guideLast" name="guideLast">

				<label for="email">Email:</label><br>
				<input type="text" class="form-control" id="email" name="email">

				<label for="password">Password:</label><br>
				<input type="password" class="form-control" id="password" name="password">

				<label for="phone">Phone:</label><br>
				<input type="text" class="form-control" id="phone" name="phone">
			</div>
			<div class="col">
				<label for="country">Country:</label><br>
				<input type="text" class="form-control" id="country" name="country">

				<label for="city">City:</label><br>
				<input type="text" class="form-control" id="city" name="city">

				<label for="tour">Tour:</label><br>
				<input type="text" class="form-control" id="tour" name="tour">

				<label for="cost">Cost:</label><br>
				<input type="text" class="form-control" id="cost" name="cost">
			</div>
		</div>
	</div>





	<br>
	<button type="submit" class="btn btn-dark">Join TourZing!</button>
</form>