{{>header}}

<h1>Register as a New Client</h1>

<form class="signup" action="/auth/register" method="POST">
	<label for="nameFirst">First Name:</label><br>
	<input type="text" id="nameFirst" name="nameFirst"><br>

	<label for="nameLast">Last Name:</label><br>
	<input type="text" id="nameLast" name="nameLast"><br>

	<label for="email">Email Address:</label><br>
	<input type="text" id="email" name="email"><br>

	<label for="password">Password:</label><br>
	<input type="password" id="password" name="password">

	<button type="submit">Join TourZing!</button>
</form>

{{>footer}}