<h1>New Tour Guide Account</h1>
<div class="well">
	<form class="signup" action="/guide/register" method="POST">

		<div class="row">
			<div class="col">
				{{!-- changed "Guide First Name to First Name for the label only" --}}
				<label for="name">First Name:</label><br>
				<input type="text" class="form-control" id="guideFirstName" name="guideFirstName">
				{{!-- changed "Guide Last Name to Last Name for the label only" --}}
				<label for="name">Last Name:</label><br>
				<input type="text" class="form-control" id="guideLastName" name="guideLastName">

				<label for="email">Email:</label><br>
				<input type="email" class="form-control" id="guideEmail" name="guideEmail">
			</div>
			<div class="col">
				<label for="password">Password:</label><br>
				<input type="password" class="form-control" id="guidePassword" name="guidePassword">

				<label for="phone">Phone:</label><br>
				<input type="tel" class="form-control" id="guidePhone" name="guidePhone">
			
				<label for="city">City:</label><br>
				<input type="text" class="form-control" id="city" name="city">

			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-dark">Join TourZing!</button>
	</form>
</div>