{{>header-2}}

<h1>Sign-Up for a Tour</h1>


<form class="tourSignUp" action="/tour/signup" method="POST">
	<label for="name">Guide First Name:</label><br>
	<input type="text" id="guideFirstName" name="guideFirstName"><br>

	<label for="name">Guide Last Name:</label><br>
	<input type="text" id="guideLastName" name="guideLastName"><br>

	<label for="name">Tour City:</label><br>
	<input type="text" id="tourCity" name="tourCity">

	<label for="password">Credit Card:</label><br>
	<input type="password" id="creditcard" name="creditcard">

	<label for="date">Tour Date:</label><br>
	<input type="date" id="date" name="date"> 

	<label for="phone">Phone Number:</label><br>
	<input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required> 

 


	<button type="submit">Submit</button>
</form>

{{>footer2}}
