{{>header-2}}

<h1>Sign-Up for a Tour</h1>

{{!-- This is me pontificating for now --}}

<form class="tourSignUp" action="/auth/tourSignUp" method="POST">
	<label for="guide">Guide Name:</label><br>
	<input type="text" id="guide" name="guide"><br>

	<label for="tour">Tour Name:</label><br>
	<input type="text" id="tour" name="tour">

    <label for="password">Credit Card:</label><br>
	<input type="text" id="password" name="password">


	<button type="submit">Submit</button>
</form>

{{>footer2}}