{{>header-2}}

<h1>Sign-Up for a Tour</h1>

{{!-- This is me pontificating for now --}}

<form class="tourSignUp" action="/auth/tourSignUp" method="POST">
	<label for="guideFirst">Guide First Name:</label><br>
	<input type="text" id="guideFirst" name="guideFirst"><br>

	<label for="guideLast">Guide Last Name:</label><br>
	<input type="text" id="guideLast" name="guideLast"><br>

	<label for="tour">Tour Name:</label><br>
	<input type="text" id="tour" name="tour">

    <label for="creditcard">Credit Card:</label><br>
	<input type="text" id="creditcard" name="creditcard">


	<button type="submit">Submit</button>
</form>

{{>footer2}}
